body{
	text-align: center;
   font-family: "Happy Monkey", sytstem-ui;
   background:linear-gradient(#a2d2ff,#EFB0C9);
   color:#ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
;
}







h1,h2,h3,h4,p{
	text-shadow:0 0 1px black;
}

#bff-img{
	width:150px;
	border-radius:50%;
	border:6px solid #EFB0C9;
	margin-left:150px ;
	margin-right: 150px;
}

#bday-age{

	background:#EFB0C9;
	padding:5px 10px;
	border-radius:50px;
	margin:5px 0 10px 0;
}


#bday-date{
	background:#EFB0C9;
	padding:5px 10px;
	border-radius:50px;
}


#header{
	display:flex;
	flex-direction:column;
	align-items:center;
}


.gift-img{
	width:200px;
    border-radius:500%;
    height:400px;
    border:6px solid white;
    background-image: url("box.jpg");
    background-size: cover;
    margin:0 auto;
    padding:0 50px;
}


.gift-section{
	margin-top: 50px;
}



.gift-title{
	margin-top:0;
}



.gift-hint{
	margin-top:0;
}



#gift-img-happy:hover{
	background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWU3NmJuN3V5M2J6NjM1MjEwMmhpMmYydm9hYTZzYmJ0ZmRuNGpheSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MG4ctSFB04ltvXpudW/giphy.gif");
    padding-right:150px;
}




















